{% extends "base.html" %}
{% load mnav %}

{% block title %}Unseen TV Episodes{% endblock %}

{% block jscript %}
$(document).ready(function() 
    { 
        $("#episodeTable").tablesorter(); 
    } 
); 
{% endblock %}

{% block content %}
<h3>Unseen Episodes</h3>
<button onclick='$("#episodeForm").toggleCheckboxes();'>Toggle All</button>
<button onclick='$("#episodeForm").checkCheckboxes();'>Check All</button>
<button onclick='$("#episodeForm").unCheckCheckboxes();'>Uncheck All</button>
<form id="episodeForm" method="post">
<table id="episodeTable">
    <thead>
    <tr>
        <th align=left>Seen</th>
        <th align=left>Show</th>
        <th align=left>Ep#</th>
        <th align=left>Airdate</th>
        <th align=left>Name</th>
        <th align=left>Dur</th>
        <th align=left>Size</th>
        <th align=left>Format</th>
    </tr>
    </thead>
    <tbody>
{% for episode in episodes %}
    <tr class="{% cycle "odd" "even" %}">
        <td><input type="checkbox" name="seen" value="{{episode.id}}" {% if episode.seen %}checked{% endif %} /></td>
        <td><a href="{% url tv.views.show_detail show_id=episode.show.id %}">{{ episode.show.name }}</a></td>
        <td>{{ episode.season_number }}x{{ episode.episode_number }}</td>
        <td>{{ episode.first_aired }}</td>
        <td><a href="{% url tv.views.episode_detail episode_id=episode.id %}">{{ episode.name }}</a></td>
        <td> {% for v in episode.tvvideofile_set.all %} <small>{{ v.general_duration|msecs_to_string }}</small><br> {% endfor %} </td>
        <td> {% for v in episode.tvvideofile_set.all %} <small>{{ v.file_size|bytes_to_string }}</small><br> {% endfor %} </td>
        <td> {% for v in episode.tvvideofile_set.all %} <small>{{ v.format_name }}</small><br> {% endfor %} </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<input type="Submit" value="Update Watched Episodes" /><br>
<b>Number of episodes:</b> {{ total_episodes }}<br>
<b>Number of files:</b> {{ total_files }}<br>
<b>Total size:</b> {{ total_size|bytes_to_string }}<br>
<b>Total duration:</b> {{ total_duration|msecs_to_string }}<br>
</form>
{% endblock %}
