<html>
<head>
    <link rel="StyleSheet" type="text/css" href= "/medianav/media/pch/medianav_pch.css">
    <meta http-equiv="Content-Type" content= "text/html; charset=us-ascii">
    <title>MediaNav Popcorn Hour Test</title>
</head>
<body bgproperties="fixed" background="/medianav/media/pch/pictures/background.jpg" ONLOADSET="{{ focus }}">
    <table align="center" class="main" border="0" cellpadding="0"  cellspacing="0">
        <tr align="left" valign="top">
            <td>
                <a tvid="PGUP" href="/medianav/pch/all/{{prev_page}}" ONFOCUSLOAD>{{ link_up }}</a><br>
                <ul>
                {% for movie in movies_list %}
                <li class="title2"><a href="/medianav/pch/detail/{{ movie.pk }}/" name="{{ movie.pk }}">{{ movie.title }} ({{ movie.year }})</a><br><br>
                {% endfor %}
                </ul>
                <a tvid="PGDN" href="/medianav/pch/all/{{next_page}}" ONFOCUSLOAD>{{ link_down }}</a>
                <br>
            </td>
        </tr>
    </table>
</body>

