<html>
<head>
    <link rel="StyleSheet" type="text/css" href= "/medianav/media/pch/medianav_pch.css">
    <meta http-equiv="Content-Type" content= "text/html; charset=us-ascii">
    <title>MediaNav Popcorn Hour</title>
</head>
<body bgproperties="fixed" background="/medianav/media/pch/pictures/background.jpg" ONLOADSET="{{ focus }}">
    <table align="top" class="main" border="1" cellpadding="0"  cellspacing="0">
        <tr align="center" valign="center" height="50">
            <td>
		{% if not is_first_page %}
                    <a tvid="PGUP" href="/medianav/pch/all/{{prev_page}}/0" ONFOCUSLOAD>Up</a>
		{% endif %}
            </td>
            <td colspan="2">
                <div class="title5">
                    Press <img src="{{ MEDIA_URL }}/pch/pictures/infokey.gif"> for Movie details, Enter to start movie
                </div>
            </td>
        </tr>
        <tr align="left" height="400">
            <td rowspan="3" width="50%" valign="center">
                <table align="top" border="1" cellpadding="0" cellspacing="0" height="548">
                {% for movie in movies_list %}
                <tr align="left" valign="center" height="55">
                <td valign="center">
                {% ifequal focus movie.pk %}
                        <a TVID="PLAY" href="{{ pch_base }}/{{videodirectory.name}}/{{videofile.name}}" name="{{ movie.pk }}" VOD>{{ movie.title }} ({{ movie.year }})</a>
                        <a TVID="INFO" href="/medianav/pch/detail/{{ movie.pk }}/"></a>

                {% else %}
                    <a href="/medianav/pch/all/{{ page_number }}/{{ movie.pk }}/" name="{{ movie.pk }}" ONFOCUSLOAD>{{ movie.title }} ({{ movie.year }})</a>
                {% endifequal %}
                </td>
                </tr>
                {% endfor %}
                </table>
            </td>
            <td align="center" valign="top" colspan="2">
                <img height="400" src="{{ MEDIA_URL }}img/movies/poster/h400-{{ selected.moviedb_id }}.jpg">
            </td> 
        </tr>
        <tr height="50">
            <td align="center" valign="top" colspan="2">
                <div class="title4">
                {% for genre in selected.genres.all %}
                {{ genre.name }}
                {% if not forloop.last %} |{% endif %}
                {% endfor %}
                </div>
            </td>
        </tr>
        <tr height="98">
            <td align="center" valign="top" colspan="2">
                <div class="title4">
                {{ selected.plot_outline }}
                </div>
            </td>
        </tr>
        <tr align="center" valign="center" height="50">
            <td>
		{% if not is_last_page %}
                    <a tvid="PGDN" href="/medianav/pch/all/{{next_page}}/0" ONFOCUSLOAD>Down</a>
		{% endif %}
            </td>
            <td>
                <div class="title5" align="left">
                    Total movies: {{ total_movies }} 
                </div>
            </td>
            <td>
                <div class="title5" align="right">
                    Page: {{ page_number }} / {{ total_pages }}&nbsp; &nbsp;
                </div>
        </tr>
    </table>
</body>

