{% extends "base.html" %}

{% block title %}Production Company {{ company.name }}{% endblock %}

{% block content %}
<h2>All movies from company {{ company.name }}<a href="{{ company.imdb_link }}"><img src="/movies/media/img/logo/imdb_icon.gif"></a></h2>
<table>
    <tr>
        <th align=left>Name</th>
        <th align=left>Released</th>
    </tr>
{% for movie in movies %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td><a href="{% url movies.views.movie_detail movie_id=movie.id %}">{{ movie.title }}</a></td>
        <td>{{ movie.year }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
