{% extends "base.html" %}

{% block title %}Person {{ person.name }}{% endblock %}

{% block content %}
<h2>All roles by {{ person.name }}<a href="{{ person.imdb_link }}"><img src="{{ MEDIA_URL }}img/movies/logo/imdb_icon.gif"></a></h2>
<table>
    <tr>
        <th align=left>Year</th>
        <th align=left>Movie</th>
        <th align=left>Role</th>
        <th align=left>Character</th>
    </tr>
{% for member in cast %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ member.movie.year }}</td>
        <td><a href="{% url movies.views.movie_detail movie_id=member.movie.id %}">{{ member.movie.title }}</a></td>
        <td>{{ member.job }}</td>
        <td>{{ member.role }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
